.boxButton {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  min-height: 40px;
  border-radius: 6px;
  box-shadow: 1px 3px 7px rgb(100, 150, 156);
  background-color: rgb(223, 243, 248);
  color: rgb(117, 100, 67);
  font-weight: 600;
  font-size: 16px;
}
.liButton:not(:last-child) {
  margin-right: 10px;
}
